doctype html
html
    head
        title= sample
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/style1.css")
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/bootstrap.js')
        script(src='/javascripts/jquery-validate.bootstrap-tooltip.js')
block content
    div.loginform
        form(method="post" id='editform' action="/edit")
            input(type="email", name="email", id="cpword", placeholder="Enter email")
            input(type="username", name="username", id="uname", placeholder="Change username")
            input(type="submit", class="btn btn-primary", value="edit and submit")

