extends layout
block content
    div
    error "plz enter valid credentials"
    span &nbsp &nbsp &nbsp &nbsp
    if error && message
        h1= message
        h2= error.status
        pre #{error.stack}

    button(onclick="move()") home
    span &nbsp &nbsp &nbsp &nbsp
        script.
            function move() {
                window.location.href = '/'
            }
