extends layout
block content
    div.loginform
        form(method="post", id='loginform', action="/login")
            input(type="email", name="email", id="cpword", placeholder="Enter email")
            input(type="username", name="username", id="uname", placeholder="Enter username")
            input(type="password", name="password", id ="pword", placeholder="Enter Password")
            input(type="submit", class="btn btn-primary btn-block btn-large", value="submit")