doctype html
html
    head
        title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/style1.css")
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/bootstrap.js')
        script(src='/javascripts/jquery-validate.bootstrap-tooltip.js')
  body
    block content